<input type="checkbox" id="mainmenucontrol" />
<label for="mainmenucontrol"></label>
<nav id="mainmenu">
	<a href="/"{{ if eq .URL "/" }}class="current"{{ end }}>Home</a>
	<a href="/handouts"{{ if eq .URL "/handouts" }}class="current"{{ end }}>Handouts</a>
	<a href="/registration"{{ if eq .URL "/registration" }}class="current"{{ end }}>Register</a>
	<a href="/about"{{ if eq .URL "/about" }}class="current"{{ end }}>Meet GYC West</a>
	<a href="/archives"{{ if eq .URL "/archives" }}class="current"{{ end }}>Archives</a>
</nav>
