body {
}

body > header header {
	position: relative;
	margin: 70pt 0 40pt 0;
}

body > header header > h1 {
	margin: 0;
}

body > header header > h2 {
	margin: 0;
}

body > header logo {
	display: block;
	position: absolute;
	top: -40px;
	left: -30px;
	
	width: 290px;
}

body > header logo > img {
	height: 156px;
}

body > header logo > div {
	position: absolute;
	top: 0;
	right: 0;
}

#mainmenu {
	position: absolute;
	top: 3pt;
	right: 5pt;
	text-align: right;
}

#mainmenu a {
	white-space: nowrap;
}

body > section {
	position: relative;
	padding: 5em 10% 5em 10%;
	vertical-align: top;
}

body > section:first-of-type {
	padding-top: 1em;
}

#mainmenucontrol {
	display: none;
}

label[for=mainmenucontrol] {
	display: none;
	visibility: hidden;
	float: right;
}

/* back drop */
#mainmenucontrol:checked ~ label[for=mainmenucontrol]::before {
	z-index: 200;
	visibility: visible;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	background-color: rgba(0,0,0,0.8);
}

/* button */
label[for=mainmenucontrol]::after {
	z-index: 600;
	visibility: visible;
	display: block;
	position: absolute;
	top: 15px;
	right: 15px;
}

@media screen and (max-width: 1800px) {
}
@media screen and (max-width: 1280px) {
}
/*@media screen and (max-width: 980px) {*/
@media screen and (max-width: 1070px) {
	#mainmenu {
		max-width: 450px;
	}
}
@media screen and (max-width: 736px) {
	#mainmenu {
		display: none;
	}
	
	#mainmenucontrol:checked ~ #mainmenu {
		display: block;
		z-index: 500;
		top: 0;
		right: 0;
		border: none;
		padding: 70px 10px 20px 30px;
		width: 80%;
	}
	
	#mainmenu a {
		display: block;
		padding: 0 0 1em 0;
	}
	
	#mainmenu a:not(:last-of-type)::after {
		display: none;
	}
	
	label[for=mainmenucontrol] {
		display: block;
	}
}
@media screen and (max-width: 480px) {
}
