a:link {
	color: #407614; /*For these colors, simply select a new hue, but keep the saturation and value the same as they are.*/
}

a:visited {
	color: #26460c;
}

a:active {
	color: #74a14f;
}

a.current {
	font-weight: bold;
}

body {
	/*
	background-image: url("/img/umbrella_reflection.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	*/

	font-family: 'Raleway', sans-serif;
	font-size: 15pt;
	
	background-color: #f4f9f0;
	color: #2f3a27;
}

h1, h2, h3, h4 {
	font-family: 'Overlock SC', sans-serif;
	font-weight: normal;
	margin: 0;
}
h1 {
	font-size: 30pt;
}
h2 {
	font-size: 20pt;
}
h3 {
	font-size: 15pt;
}
h4 {
	font-size: 15pt;
	font-style: italic;
}

header {
	text-align: center;
}

header > h1 {
	font-size: 60pt;
	text-transform: uppercase;
	letter-spacing: 16pt;
}

header > h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 20pt;
	font-weight: normal;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 3pt;
}

header > h2::before {
	display: block;
	height: 2px;
	content: '\00a0';
	margin: 5px 0 9px 0;
	background-image: linear-gradient(to right, rgba(58,46,39,0.0) 0%, rgba(58,46,39,0.5) 50%, rgba(58,46,39,0.0) 100%);
}

#mainmenu {
	border-bottom: 2px silver solid;
}

#mainmenu a {
	text-decoration: none;
}

/* Creates the side gradient in the menu */
#mainmenu a:not(:last-of-type)::after {
	display: inline-block;
	width: 2px;
	line-height: 1em;
	content: '\00a0';
	margin: 0 0 0 9px;
	background-image: linear-gradient(to bottom, rgba(58,46,39,0.0) 0%, rgba(58,46,39,0.5) 50%, rgba(58,46,39,0.0) 100%);
}

body > header {
	text-align: left;
}

body > header #year, body > header #date {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	/*color: #333;*/
}

body > header #year {
	margin-top: 35px;
	font-size: 60px;
	line-height: 60px;
}

body > header #date {
	font-size: 23px;
	line-height: 23px;
}

body > section {
	position: relative;
}

body > section:first-of-type::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	height: 2px;
	content: '\00a0';
	background-image: linear-gradient(to right, rgba(58,46,39,0.0) 0%, rgba(58,46,39,0.5) 50%, rgba(58,46,39,0.0) 100%);
}

body > section:not(:last-of-type)::after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	display: block;
	height: 2px;
	content: '\00a0';
	background-image: linear-gradient(to right, rgba(58,46,39,0.0) 0%, rgba(58,46,39,0.5) 50%, rgba(58,46,39,0.0) 100%);
}

body > section.quote_block p {
	font-style: italic;
}

body > section.quote_block p.source_ref {
	font-weight: bold;
	text-align: right;
}

body > section.quote_block p.source_ref::before {
	content: "\2014 "; /* \2014 is an em dash */
}

/* back drop */
#mainmenucontrol:checked ~ label[for=mainmenucontrol]::before {
	background-color: rgba(0,0,0,0.8);
}

/* button */
label[for=mainmenucontrol]::after {
	font-family: FontAwesome;
	content: "\f0c9"; /* fa-bars */
	color: #f4f9f0;
	font-size: 20px;
	line-height: 30px;
	border-radius: 3px;
	background-image: linear-gradient(to bottom, silver, gray);
	margin: 3px;
	width: 30px;
	height: 30px;
	text-align: center;
}

#mainmenucontrol:checked ~ label[for=mainmenucontrol]::after {
	content: "\f00d"; /* fa-times */
}

@media screen and (max-width: 736px) {
	header > h1 {
		font-size: 30pt;
		letter-spacing: 8pt;
		padding-top: 1em;
	}

	header > h2 {
		font-size: 10pt;
		letter-spacing: 1pt;
	}
	
	#mainmenu {
		background-color: #2f3a27;
		border: none;
	}
	
	#mainmenu a:link {
		color: #e9ffd6;
	}

	#mainmenu a:visited {
		color: #c0d2b1;
	}

	#mainmenu a:active {
		color: #5da81f;
	}
	
	#mainmenu a.current {
		color: #5da81f;
	}
	
	#mainmenucontrol:checked ~ #mainmenu {
		text-align: left;
	}
}

@media screen and (max-width: 480px) {
}
